test = 'OK'
servername = 'imap.somedomain'
port = 143
username = 'someusername'
password = 'somepassword'
authorizedSender = 'someone@somewhere'
mailbox = 'yarss2imap'     # this mailbox will be created under 'INBOX.'
